* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  border: 1px lightgray solid;
  height: 50vh;
  grid-template-columns: 49.4% 0.1% 49.4%;
  width: 50vw;
  position: absolute;
  /* grid-template-rows: repeat(10rem, 1rem, 10rem); */
  top: 12rem;
  left: 35rem;
}
.grid1 {
  height: 70%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  /* border: 1px lightgray solid; */
  margin: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  /* gap: 1rem; */
  font-size: 18px;
  color: white;
}

.button-fb {
  background-color: rgb(44, 44, 114);
  padding: 20px;
  margin: 1rem;
}

.button-twitter {
  background-color: rgb(106, 147, 185);
  padding: 20px;
  margin: 1rem;
}
.button-google {
  background-color: orange;
  padding: 20px;

  margin: 1rem;
}
.line {
  display: inline;
  border: 1px rgba(207, 204, 204, 0.5) solid;
  margin: 4px;
  margin-right: 5px;
  height: 50px;
}

.grid2 {
  /* border: 1px lightgray solid; */
  height: 10rem;
  margin: 4rem auto 10px auto;
}
/* grid 2 vertical line */

.v-Line {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 30vh;
}
.vLineBottom {
  /* position: absolute; */
  left: 70%;
  /* transform: translate(-50%); */
  border: 2px solid #ddd;
  height: 10vh;
}
.v-LineText {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50% 50%;
  padding: 1.1vh 0.7vw;
}

/* grid 3 h3 with form */

.grid3 {
  /* border: 2px green solid; */
  display: inline;
}

.form-design {
  margin: 15px;
}

h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

input {
  padding: 20px;
}

input:placeholder-shown {
  border: none;
  border-bottom: 2px rgb(194, 193, 193) solid;
  font-size: 1.1rem;
  padding-bottom: 10px;
}
.icon {
  padding: 20px;
  padding-bottom: 10px;
}
.submit-button {
  background-color: rgb(26, 156, 199);
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-left: 1rem;
}
