* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  border: 1px solid rgb(0, 0, 0, 0.2);
  grid-template-columns: 49.4% 0.1% 49.4%;
  grid-template-rows: 1fr;
  width: 50rem;
  height: 25rem;
  position: absolute;
  top: 12rem;
  left: 20rem;

  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
}

.wrapper > div {
  background-color: #eee;
  padding: 4em;
}

.wrapper > div:nth-child(odd) {
  background-color: white;
}

.grid1 {
  height: 40px;
  padding: 8px;
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  width: 15rem;
}
.button-fb {
  background-color: rgb(44, 44, 114);
  padding: 10px;
  margin: 1rem;
}

.button-twitter {
  background-color: rgb(106, 147, 185);
  padding: 10px;
  margin: 1rem;
}
.button-google {
  background-color: orange;
  padding: 10px;
  margin: 1rem;
}

.grid2 {
  height: 200px;
  margin: 4rem auto 10px auto;
}
.circle {
  display: grid;
  /* justify-content: center;
  align-items: center; */
  background-color: teal;
  height: 15px;
  width: 15px;
  padding: 5px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0, 0.2);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 100%;
  z-index: 1;
}

input {
  padding: 10px;
}
input:placeholder-shown {
  border: none;
  border-bottom: 2px rgb(194, 193, 193) solid;
  font-size: 1rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 40px;
}
.form-design {
  margin: 0px;
}

.submit-button {
  background-color: rgb(26, 156, 199);
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin-left: 2.2rem;
}
